<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YOGURT WORLD</title>    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="http://localhost:3000/"><b>Yogurt World</b></a></li>
                <li><a href="http://localhost:3000/special">Daily Special</a></li>
                <li><a href="http://localhost:3000/flavors">Flavors</a></li>
                <li><a href="http://localhost:3000/toppings">Toppings</a></li>
                <li><a href="http://localhost:3000/about">About Us</a></li>
                <li><a href="http://localhost:3000/contact">Contact</a></li>
                <li><a href="http://localhost:3000/google">Google</a></li>
            </ul>
        </nav>
    </header>
    <main class="text-center">
        <h1 class="salmon-text text-center title">Contact Us</h1>
        <hr>
        <div class="flavor contact">
            <% if(phone && email) { %>
                <h2>Phone: <%= phone %></h2>
                <h2>Email: <%= email %></h2>
            <% } %>
        </div>
    </main>
    <footer class="text-center">
        <div class="text-white">Copyright &copy; 2018 Yogurt World</div>
    </footer>
</body>
</html>